.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease-in-out;

  &--prev {
    &::before {
      left: 50px;
      content: "";
      display: block;
      margin-right: 5px;
      width: 8px;
      height: 8px;
      border: solid 2px;
      border-right: none;
      border-bottom: none;
      transform: rotate(-45deg);
    }
  }

  &--next {
    &::after {
      content: "";
      display: block;
      margin-left: 5px;
      width: 8px;
      height: 8px;
      border: solid 2px;
      border-left: none;
      border-top: none;
      transform: rotate(-45deg);
    }
  }

  &:hover {
    background-color: #2a3fb8ee;
    color: white;
  }

  &:active {
    transform: scale(1.2);
  }
}
