.controls {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  margin-bottom: 20px;

  &__item {
    margin-bottom: 20px;
    width: 350px;
  }

  &__input {
    margin-right: 5px;
    max-width: 80px;
  }

  &__infinite,
  &__width,
  &__animation,
  &__step,
  &__frameSize {
    display: flex;
    justify-content: center;
  }
}
