.controls {
  display: flex;
  justify-content: space;
  align-items: center;
  flex-flow: column wrap;
  margin-bottom: 20px;

  &__item {
    margin-bottom: 20px;
    width: 350px;
  }

  &__infinite {
    align-self: start;
  }

  &__width {
    display: flex;
    flex-flow: row wrap;
  }

  &__animation {
    display: flex;
  }
}

// button of controls have to have same size,
// the inputs also
// add classes for control buttons
