.controls {
  display: flex;
  justify-content: space;
  align-items: center;
  flex-flow: column wrap;
  margin-bottom: 20px;

  &__item {
    margin-bottom: 20px;
    width: 350px;
  }

  &__infinite {
    display: flex;
    // align-self: start;
    justify-content: center;
  }

  &__width {
    display: flex;
    // flex-flow: row wrap;
    align-content: center;
  }

  &__animation {
    display: flex;
  }

  &__step {
    display: flex;
  }
}
