.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  margin-bottom: 2px;

  &__label {
    font-size: 12px;
    margin-right: 4px;
  }

  &__field {
    width: 70px;
    height: 25px;
    padding-left: 10px;
  }
}


