$borderColor: #ffd700;
$inputPadding: 5px;
$inputMargin: 0;

.container {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 10px;
}

label {
  border: 2px solid $borderColor;
  padding: $inputPadding;
}

input[type='number'] {
  border: 2px solid $borderColor;
  padding: $inputPadding;
  margin: $inputMargin;
}
