.Carousel {
  width: 650px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__list {
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  &__container {
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__items {
    height: auto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
}

.button {
  width: 24px;
  height: auto;

  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;

  border-radius: 50%;

  transition: all 0.3s ease;

  &:hover {
    background-color: grey;
    color: #fff;
  }

  &:active {
    transform: scale(1.15);
    background-color: grey;
  }

  &:disabled {
    visibility: hidden;
  }

  &-next {
    padding-left: 2px;
  }

  &-prev {
    padding-right: 2px;
  }
}

.inputs {
  &__container {
    display: flex;
    flex-direction: column;

    &-radio {
      display: grid;
      grid-template-columns: 4fr 1fr 1fr 2fr;

      label {
        cursor: pointer;
        display: flex;
      }
    }

    input {
      cursor: grab;
      width: 100%;
    }
  }

  &__labels {
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 3fr 1fr 4fr 1fr;
    align-items: center;
    gap: 8px;

    & > * {
      display: flex;
      width: 100%;
    }

    & > *:nth-child(1) {
      justify-content: left;
    }

    & > *:nth-child(2),
    & > *:nth-child(3),
    & > *:nth-child(4) {
      justify-content: center;
    }

    & > *:nth-child(3) {
      position: relative;
    }

  }

}

.toolTip {
  width: 20px;

  position: absolute;
  bottom: 20px;

  text-align: center;
}
