@font-face {
  font-family: "Rainbow Colors Regular";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("./RainbowColorsRegular.woff") format("woff"),
    url("./RainbowColorsRegular.woff2") format("woff2"),
    url("./RainbowColorsRegular.ttf") format("truetype"),
    url("./RainbowColorsRegular.eot") format("eot");
}
