.carousel-settings {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;

  &-item {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-bottom: 10px;
  }

  &-input {
    margin-left: 5px;
    width: 50px;
  }
}
