.carouselSettings{
  margin: 0 auto;
  text-align: center;
  width: fit-content;
  background-color: rgba(128, 128, 128, 0.1);
}

.settingName {
  display: inline-block;
  width: 150px;
  text-align: end;
}
