.Carousel {
  overflow: hidden;

  &__wrapper {
    border: 4px solid #31cf3b;
    border-radius: 10px;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
  }

  &__buttons {
    margin-top: 20px;
  }

  &__button {
    font-size: 32px;
    padding: 5px 10px;
    background-color: #31cf3b;
    border-color: white;

    &--next {
      float: right;
    }
  }
}
