.Carousel {

  display: flex;
  align-items: center;
  &> button {
    height: 20px;
    cursor: pointer;
  }

  &__list {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
    list-style-type: none;

    &> li {
      padding: 0 10px;
    }
  }

  .disabled {
    opacity: 0;
    cursor: auto;
  }
}
