.Carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  // width: 390px;
  // overflow: hidden;

  &__container {
    // width: 390px;
    overflow: hidden;
    // width: 1300px;
  }

  &__list {
    // box-sizing: border-box;

    // margin: 20px;
    margin: 0;
    padding: 0;

    // width: 1300px;
    width: max-content;

    display: flex;
    flex-direction: row;

    list-style: none;
  }

  &__item {

  }

  &__image {
    display: flex;
  }

  &__button {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    &:active {
      background: rgba(255, 155, 35, 0.85);
    }

   &--prev {
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);

    background: rgb(255,130,42);
    background: linear-gradient(90deg, rgba(255,130,42,0.9) 10%, rgba(252,236,88,0.9) 100%);
   }

   &--next {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);

    background: rgb(255,130,42);
    background: linear-gradient(90deg, rgba(252,236,88,0.9) 10%, rgba(255,130,42,0.9) 100%);
   }

   &--inactive {
    background: linear-gradient(90deg, rgba(169,169,169,0.65) 20%, rgba(192,192,192,0.6) 100%);
    cursor: not-allowed;

    &:hover {
      transform: none;
    }

    &:active {
      background: linear-gradient(90deg, rgba(169,169,169,0.65) 20%, rgba(192,192,192,0.6) 100%);
    }
   }
  }
}
