.Carousel {
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    // overflow: hidden;
    border: 4px solid orange;
    border-radius: 15px;
    background-color: black;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  font-weight: bold;
  font-size: 20px;
  background-color: orange;
}
