.Carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;

  &__visible {
    overflow: hidden;
  }

  &__list {
    position: relative;
    display: flex;
  }

  &__input-box {
    padding: 50px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 300px;
    align-items: start;
  }

  &__input {
    outline: none;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
  }

  &__button {
    outline: none;
    width: 100px;
    height: 50px;
    margin: 10px 40px;
    border: 3px solid gray;
    background-color: black;
    color: white;
    transition: all 0.3s;

    &:hover {
      background-color: darkgray;
    }

    &:active {
      transition: all 0s;
      background-color: red;
      color: black;
    }
  }
}
