@import url("https://fonts.googleapis.com/css2?family=Comme:wght@600&display=swap");
.Carousel {
  background-color: lightcoral;
  &__container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 30px auto;
    border: 1px solid #fff;
    border-radius: 30px;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
    }
  }

  &__control {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: max-content;
    border: 1px solid #fff;
    margin: auto;
    padding: 30px;
    border-radius: 30px;
  }
  &__labels {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    color: #fff;
    justify-content: space-between;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  &__input {
    border-radius: 30px;
    border: none;
    width: 100px;
    font-size: 14px;
    outline-color: tomato;
    padding-left: 10px;
    &::placeholder {
      font-family: "Comme", sans-serif;
    }
  }
}
