.overflow {
  overflow: hidden;
}

.list {
  position: relative;
  display: flex;
}

.settings {
  margin-top: 20px;
  display: grid;
  width: 390px;
  height: 130px;
}

.settings div {
  margin-left: 20px;
}