.Carousel {
  overflow: hidden;

  &__list {
    display: flex;
    list-style: none;

    margin: 10px auto;
    padding: 0;
    overflow: hidden;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin: 20px auto;

    &__button {
      width: 50px;
      height: 30px;
      font-size: 15px;
      font-weight: bold;
      border: 1px solid black;
      background-color: white;
      cursor: pointer;
    }
  }
}
