.Carousel {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    &__container {
        width: 390px;
        border: 1px solid darkgray;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &__img {
        display: block;
        object-position: center;
        height: 130px;
        width: 130px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        cursor: pointer;
        width: 80px;
        height: 30px;
        border-radius: 10px;
    }
}

