.Carousel {
  width: 400px;

  &__list {
    display: flex;
    overflow: hidden;
    list-style: none;
    padding: 0;
  }

  &__button {
    margin: 10px;
    padding: 5px 10px;
    border: 2px solid teal;
    color: teal;
    font-size: 20px;
    background: linear-gradient(grey, white);
  }

  &__picture {
    width: 130px;
    overflow: hidden;
  }
}
