.Carousel__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.Carousel {
  display: block;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.Carousel__list {
  display: flex;
  padding: 0;
  list-style: none;
}
