.CarouselSetting {
  border: 1px solid #ccc;
  border-radius: 15px;
  background: #eee;
  width: 398px ;
  padding: 15px 40px;
  margin-top: 20px;
  position: relative;
}

form {
  display: grid;
  width: 100%;
}

label {
  display: inline-block;
  font-style: inherit;
  text-align: left;
}

input {
  border-radius: 2em;
}

input[type="range"] {
  display: table-column;
  margin: 0 0 0 auto;
}

input[type="button"] {
  border-radius: 50px;
  width: 30px;
  cursor: pointer;
}

.add-image {
  width: 30px;
  height: 30px;
  position: absolute;
}

.not-valid-url {
  border-color: red;
}
