.Carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
    background-color: #eeebeb;
    transition: 0.3s;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__button-container {
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__button {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeebeb;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.3s;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
    &:active {
      background-color: #f8dd8c;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

