.Carousel {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 24px;

  .wrapper {
    overflow: hidden;
    width: 390px;
    position: relative;
  }

  &__list {
    margin: 0;
    display: flex;
    padding: 0;
    list-style: none;
    position: relative;
    left: 0;
    top: 0;
    height: 130px;
  }

  &__buttons {
    display: flex;
    width: max-content;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
  }

  &__button {
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
  }

  &__checkbox {
    font-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 3.5em;
    height: 1.5em;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    &:checked {
      background: #90ee90;
    }

    &::after {
      position: absolute;
      content: "";
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      background: #fff;
      -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      left: 0;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    &:checked::after {
      left: calc(100% - 1.5em);
    }
  }
}
