.Carousel {
  &__properties {
    width: 390px;
    margin: 0 auto 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__property {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
  }

  &__input {
    border-radius: 20px;
    text-align: center;
    height: 30px;
    width: 70px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
  }

  &__images {
    grid-column: 2/ span 1;
    box-sizing: border-box;
    margin: 0 auto 10px;
    height: 130px;
    width: 390px;
    overflow: hidden;
    border: solid 5px #b7b7b7;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }

  &__list {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 1300px;
  }

  &__image {
    width: 130px;
    height: 130px;
  }

  &__button {
    border-radius: 20px;
    text-align: center;
    height: 30px;
    width: 70px;
    &--2 {
      grid-column: 3/ span 1;
    }

    &--1 {
      grid-column: 1/ span 1;
      justify-self: end;
    }

    &--disabled {
      cursor: not-allowed;
      opacity: 0.3;
    }
  }
}
