.Carousel {
  &__container {
    margin-top: 10px;
    overflow: hidden;
    border: 5px solid #9a1ed3;
    border-radius: 25%;
    background-color: #dbbfd7;
  }

  &__list {
    display: flex;
    padding: 0px;
    width: 1300px;
  }

  &__item {
    height: 130px;
    width: 130px;
    list-style: none;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
  }

  &__button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 19px;
    background-color: #b556e0;
  } 
}