.Carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__list {
    display: flex;
    margin: 30px;
    overflow: hidden;
    border: 5px solid rgb(172, 243, 243);
    border-radius: 15px;
    list-style: none;
  }

  &__image {
    margin: 25px;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
  }

  &__bnt {
    width: 50px;
    height: 50px;
    background-color: rgb(172, 243, 243);
    border: solid 2px white;
    border-radius: 60px;
    cursor: pointer;

    &:hover {
      background-color: rgb(56, 145, 145);
      transform: scale(1.05);
    }

    &:active {
      transform: scale3d(0.7, 0.7, 0.7);
      opacity: 0.5;
    }

    &:disabled {
      opacity: 0.6;
      cursor: default;
      transform: none;
    }

    &:hover:disabled {
      cursor: not-allowed;
      background-color: rgb(43, 61, 61);
      transform: none;
    }
  }
}
