.Carousel {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 20px 0;

  &__list {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;

    padding: 0;
  }

  &__settings--title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-shadow: 2px 2px 4px #888;
  }
  &__settings--property {
    font-size: 14px;
  }
  &__settings--checkbox {
    border-color: gray;
    box-shadow: none !important;
  }
  &__settings--checkbox:checked {
    background-color: black;
  }


  &__buttons {
    display: flex;
    justify-content: center;
  }

  &__button {
    font-family: Poppins,
      sans-serif;
    font-size: 17px;
  }

  &__button:last-child {
    margin-left: 30px;
  }
}



li {
  list-style-type: none;
}