$border-color: rgb(119, 119, 119);

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.Carousel {
  overflow: hidden;

  border: 3px solid $border-color;
  border-radius: 10px;

  &__list {
    padding-left: 0;
    display: flex;

    list-style: none;
  }
}

.button {
  width: 80px;
  height: 100px;

  border: 1px solid $border-color;
  border-radius: 10px;
  cursor: pointer;

  transition: all 0.3s;

  &--disabled {
    pointer-events: none;
    border-color: $border-color
  }

  &:hover {
    background-color: $border-color;
    color: white;
  }
}

