.controls {
  display: flex;
  flex-flow: column;
  gap: 20px;
  margin-block: 20px;
  width: 250px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__input {
    width: 100px;
  }
}
