.label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.input {
  margin-bottom: 10px;
}

.label:nth-last-child(1) {
  display: block;
  width: 0;
}

input[type="checkbox"] {
  margin: 0;
}
