@mixin ordinarytypes {
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

@mixin borderstyle {
  border: 3px solid rgb(56, 54, 54);
  border-radius: 10px;
}

