.inputs {
  display: flex;
  flex-direction: column;

  &__item {
    width: 480px;
    height: 40px;
    margin: 0 auto 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid lightgray;
    border-radius: 10px;
  }

  &__input {
    width: 80px;
  }
}
