.inputs {
  display: flex;
  flex-direction: column;

  &__item {
    width: 480px;
    height: 40px;
    margin: 0 auto 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid lightgray;
    border-radius: 10px;
  }

  &__input {
    display: flex;
    justify-content: space-around;
    width: 200px;
    border: 2px solid lightgray;
    border-radius: 5px;
  }

  &__checkbox {
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin-right: 20px;
  }
}
