.Carousel {
  overflow-x: hidden;
}

.Carousel__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  transition: margin;
}

.Controls {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.Controls__btn {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 4px;
}
