$content-color: rgb(83, 30, 133);

.Carousel {
  display: flex;
  align-items: center;
  gap: 10px;

  &__list {
    display: flex;
    padding: 0;
    list-style: none;
  }

  &__button {
    display: block;
    height: 50px;
    width: 50px;
    transition: transform 0.3s;

    font-size: 25px;
    border-radius: 100%;
    background-color: $content-color;
    color: white;

    &:hover {
      cursor: pointer;
      transform: scale(1.15);
    }

    &:active {
      background-color: rgb(228, 125, 7);
      box-shadow: 4px 4px 10px 0 black;
    }
  }
}

.container {
  overflow: hidden;

  border: 5px solid $content-color;
  border-radius: 20px;
}
