.Carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Carousel__wrapper {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}

.Carousel__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
