.carousel {
  &__list {
    max-width: 1300px;
    display: flex;
    justify-content: start;
    overflow: hidden;
    background: #a4a2a2;
    border-radius: 20px;
  }

  &__items {
    list-style-type: none;

  }
  &__image {
    display: block;
    max-width: none;
  }
}

.carousel-buttons {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}


.disablet-btn {
  pointer-events: none;
  background-color: #8fcae7;
  color: #666;
  cursor: not-allowed;
}
