.options {
  border: 2px solid #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__label {
    width: 320px;
    padding: 10px;
    color: #7c7c7c;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #000;
  }

  &__input {
    padding: 3px 0;
    width: 70px;
    text-align: center;
  }
}
