// style go here
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: Arial, Helvetica, sans-serif;

  &__title {
    text-align: center;
  }

  &__inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
