// style go here
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-color: yellow;
}

.App__container {
  width: 1440px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 45px;
  font-weight: bold;
  color: black;
}
