body {
  background-color: grey;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  &__settings {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    padding: 2px 15px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 5px auto;
    height: 80;
    line-height: 3;
    width: 220;
    border: 3px solid orange;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      box-shadow: 10 10 10 rgba(0, 0, 0, 0.5);
    }
  }
}

.input {
  margin: auto 0;
  border: 1px solid rgb(68, 68, 68);
  border-radius: 50;
  font-weight: 700;
  font-size: 12px;
  width: 50;
  background-color: #bab3b3;
  text-align: center;
  height: 25px;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

input.apple-switch {
  position: relative;
  appearance: none;
  outline: none;
  top: 7px;
  width: 40;
  height: 21px;
  background-color: orange;
  border: 1px solid #bab3b3;
  border-radius: 50;
  box-shadow: inset -20 0 0 0 #bab3b3;
  transition-duration: 200ms;
  cursor: pointer;
}

input.apple-switch::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
  border-color: #f07c16;
  box-shadow: inset 20 0 0 0 #eb5721;
}

input.apple-switch:checked::after {
  left: 20;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}
