.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_container {
  display: flex;
  flex-direction: column;
  font-size: 24px;
}

input {
  font-size: 24px;
  margin-left: 10px;
  width: 100px;
}
