body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  width: max-content;
  text-align: center;
  margin-left: 20px;
}

.title {
  color: rgb(197, 24, 24);
}

.changing-button {
  padding: 10px;
  background-color: rgb(197, 24, 24);
  color: rgb(247, 247, 247);
  border-color: transparent;
  border-radius: 10px;
}
