* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  background-color: #88A263;
  padding: 20px;
}

.label {
  margin: 0 auto;
  padding-right: 15px;
  color: black;
  cursor: pointer;
  font-size: 20px;
}

.App input {
  margin-left: 10px;
  padding: 3px 0;
  border-radius: 10px;
  text-align: right;
}
