@import "./utils/mixins";

.App {
  @include centering;

  &__title {
    color: gray;
    @include typography;
  }

  &__inputs {
    @include centering;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    color: gray;
    @include typography;

    &-wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
    }

    &-label {
      margin-right: 5px;
    }

    &-input {
      color: gray;
      @include typography;
      margin-right: 5px;

      &::placeholder {
        color: gray;
        @include typography;
      }
    }
  }

  &__item {
    margin-right: 20px;
  }
}
