.App {
  &__title {
    text-align: center;
  }
}

.carusel-wrapper {
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
  border: 2px solid #72730B;
  box-shadow: 12px 12px 2px 1px rgba(170, 119, 25, 0.3);
  border-radius: 20px;
}

.footer {
  display: flex;
  margin-top: 30px;
  gap: 20px;
  justify-content: center;

  &__option {
    gap: 10px;
    width: 100%;
    height: 20px;
  }

  &__title {
    font-weight: 100px;
    font-size: 14px;
  }

  &__input {
    display: block;
    margin: 0 auto;
    max-width: 100px;
  }
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
