.App {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.controls {
  &__item {
    display: flex;
    font-family: sans-serif;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    margin: 16px 0;
  }
}
