// style go here
body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setState {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
