// style go here
.App {
  &__title {
    font-family: "Roboto", sans-serif;
    font-size: 32px;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.label {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.input {
  width: 150px;
  border: none;
  border: 1px solid;
  border-radius: 5px;
}
