.App {
  text-align: center;
  margin-top: 30px;
}

h1 {
  margin-bottom: 40px;
}

.container {
  position: relative;
  border: 1px solid gray;
  max-width: 1300px;
  padding: 10px 40px;
  border-radius: 15px;
  background-color: rgb(238, 238, 238);
  margin: 0 auto;
  overflow: hidden;
}

.button {
  position: absolute;
  top: 40%;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  background-color: #ddd;
  border: 1px solid gray;
  border-radius: 30px;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: rgb(6, 116, 254);
  cursor: pointer;
}

.prev {
  left: 5px;
}

.next {
  right: 5px;
}

div {
  display: flex;
  flex-direction: column;
}
