// style go here
* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Roboto", sans-serif;
  background-color: blue;
  padding-top: 20px;
  height: 100vw;
  &__form {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__text {
    font-family: inherit;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #fff;
  }

  &__title {
    font-family: inherit;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
  }

  &__input {
    display: block;
    background-color: rgb(151, 233, 244);
    border: 1px solid #000;
    text-align: center;
    font-size: 15px;
    font-family: inherit;
    width: 70px;
    height: 35px;
    margin: 0 auto;
  }
}
