.App {
  font-size:25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px 2px rgba(86, 83, 83, 0.5);

  &__container {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 24px;
  }
}
