ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Carousel__list {
  width: 260px;
  overflow: hidden;
  display: flex;
  border: 2px solid #4caf50;
  margin-top: 20px;
}

.image {
  width: 130px;
  height: 130px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  margin-left: 10px;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
}
