body {
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    margin-bottom: 15px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}