.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-family: "Raleway", sans-serif;
  }

  &__box {
    font-family: "Raleway", sans-serif;
    background-color: rgb(250, 194, 42);
    border-radius: 15px;
    border: 1px solid gray;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  &__input {
    width: 200px;
    padding: 5px;
    border-radius: 10px;
  }
}
