.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 44px;
  }
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  box-sizing: border-box;

  width: 450px;
  height: min-content;
  padding: 5px;

  border-radius: 10px;
  background-color: #9a1ed3;

  &__field {
    background-color: #dbbfd7;
    border-radius: 5px;
    padding: 5px;
  }

  &__label {
    display: flex;
    justify-content: space-between;

    font-size: 20px;
  }

  &__input {
    background-color: #dbbfd7;
    width: 100px;
  }
}
