* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, rgba(195,134,207,1) 40%, rgb(18, 25, 121) 100%);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
