body {
  background: linear-gradient(90deg, #23a6d5, #5d4fdc, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
