@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

ul,
li,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

body {
  background-color: #178582;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
