body {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a:focus,
button:focus,
a:active,
button:active {
  outline: none;
}

a,
button {
  cursor: pointer;
}

:focus,
:active {
  outline: none;
}
