.settings {
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 25px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  &__item:last-child {
    padding-bottom: 0;
    border-bottom: none;
    justify-content: start;
  }

  input[type='number'] {
    width: 60px;
  }
}
