.Settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(165, 42, 42, 0.553);

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__input {
    width: 50px;
  }
}
